<!DOCTYPE html>
<head>
    <title>Login</title>
    <style>
        .message {
            color: red;
        }
    </style>
</head>
<body>
    {% if messages %} 
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h2>Login System</h2><hr>
    <form action="{% url 'login' %}" method ="post">
        {% csrf_token %} 
        Username = <input type="text" name="uname"><br><br>
        Password = <input type="password" name="pswd"><br><br>
        <input type="submit" value="Login"><br><br>
    </form>
    
    <a href="{% url 'signup' %}">New User Register Here</a>
    

</body>
</html>